<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <h2>Reset Password</h2>
    <form action="/api/reset-password/{{ uid }}/{{ token }}/" method="post">
        {% csrf_token %}
        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" required>
        <label for="new_password_confirm">Confirm New Password:</label>
        <input type="password" name="new_password_confirm" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
